<pre><code class="language-strata">import ../common;

/* A type-safe pointer type, exposed as void* to C. */
handle OBJECT;
impl OBJECT
{
	/* Define in-engine */
	extern void set_position(OBJECT obj, float3 position);
	extern float3 get_position(OBJECT obj);

	property float3 position {
		get = OBJECT_get_position;
		set = OBJECT_move_to;
	}
}

const float SPEED = 0.5f;

void called_from_cpp(OBJECT obj, float3 camera_forward)
{
	const float3 up_dir = float3(0.0, 1.0, 0.0);
	// In-compiler vector intrinsics!
	float3 right_dir = cross(camera_forward, up_dir);

	// Get and set positions using properties
	float3 new_position = (obj.position + (right_dir * SPEED));
	obj.position = new_position;
}</code></pre>
