<header class="hp-app-header">
  <div class="hp-flex-row hp-space-between hp-center-y hp-width-100">
    <h1 class="hp-flex-col hp-header-link-head">
      <a class="hp-header-link" href="{{0}}index.html">ethan macdonald</a>
    </h1>
    <button
      class="hp-theme-button hp-flex-col"
      onclick="toggleDarkMode()"
      aria-label="toggle dark mode"
    >
      <img
        class="hp-no-margin hp-link-icon hp-header-link-head"
        alt="toggle dark mode"
        src="{{0}}assets/icons8-night-mode-64.png"
        width="32px"
        height="32px"
      />
    </button>
  </div>

  <div class="hp-flex-row hp-width-100 hp-align-y hp-nav-subitems">
    %%navitem(home $ {{0}}index.html)%%
    <!---->
    %%navitem(blog $ {{0}}posts.html)%%
    <!---->
    %%navitem(github $ https://github.com/emd22)%%
    <!---->
    %%navitem(contact $ mailto:e@ethanm.ca)%%

    <!--<span class="hp-flex-col">
      <a class="hp-blog-button" href="{{0}}posts.html">blog</a>
    </span>

    <span class="hp-flex-col">
      <a class="hp-blog-button" href="https://github.com/emd22">github</a>
    </span>
    <span class="hp-flex-col">
      <a class="hp-blog-button" href="mailto:e@ethanm.ca">contact</a>
    </span>-->
  </div>
</header>
