<header class="hp-app-header hp-flex-row hp-space-between">
  <div>
    <h1>
      <a class="hp-header-link" href="./index.html">ethan macdonald</a>
      <a class="hp-blog-button" href="./posts.html">blog</a>
    </h1>
  </div>
  <button
    class="hp-theme-button hp-center-y"
    onclick="toggleDarkMode()"
    aria-label="toggle dark mode"
  >
    <img
      class="hp-no-margin hp-link-icon"
      alt="toggle dark mode"
      src="./assets/icons8-night-mode-64.png"
      width="32px"
      height="32px"
    />
  </button>
</header>
