<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ethan MacDonald</title>
    <link rel="stylesheet" href="../index.css" />
    <link rel="icon" href="../icon.ico" />

    <link rel="stylesheet" href="../highlight-styles/base16/chalk.css">
    <script src="../highlight.min.js"></script>

    <script src="../languages/cpp.min.js"></script>
    <script src="../languages/armasm.min.js"></script>
    <script src="../languages/x86asm.min.js"></script>

    <script>hljs.highlightAll({});</script>
  </head>

  <body>
    <div class="App">
      %%nav_header(../)%%

      <!-- Profile -->
      <div class="hp-content-container">
        <div class="hp-post-content">
        <div class="hp-dark-container hp-project-card">
