<p>
	Raptor Engine is a Vulkan game engine written in C++ with components in
	Strata. The renderer is very customizable and is currently Tiled Forward+ and
	includes with dynamic shadows, SSAO, and probe-based global illumination.
</p>
<p>
	Raptor has many cool features, including custom shader binding generation,
	fast level building with the prototype system, and a SIMD optimized math
	library. Raptor uses Strata as a scripting language (JIT compiled!), with the
	<a
		href="https://github.com/emd22/RaptorEngine/blob/main/Scripts/editor/prototype_editor.strata"
		>entire level prototyping system</a
	>
	being written in it.
</p>
